
body{
    font-size:12;
    font-family:'Times New Roman', Times, serif;
    padding:20;
    color:black;
}


.navbar{
    text-align: left;
    text-decoration: none;
    font-family: fantasy;
}

.navbar::hover{
    text-align: left;
    text-decoration: none;
    font-family: fantasy;
    color: blue;
}

.titulo-feed{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}